#!/bin/bash

LOGGED_IN_USERS=`users | tr ' ' '\n' | uniq`

function run_as_users
{
    # for each logged-in user, this runs the templated command
    for USER in ${LOGGED_IN_USERS}
    do
        USER_UID=`id -u ${USER}`
        sudo -u ${USER} XDG_RUNTIME_DIR=/run/user/${USER_UID} {{ item.execute }}
    done
}

case "$2" in
    {{ item.command }}) run_as_users ;;
    *)    logger "ACPI action undefined: $3" ;;
esac
