#!/bin/sh

MESSAGE=`fortune`
yad --text-entry --title="Leaving?" --text="${MESSAGE}" \
    --button=Cancel:0 --button=Logout:1 --button=Suspend:2 \
    --button=Reboot:3 --button=Shutdown:4 --center --escape-ok

case "$?" in
1)
    openbox --exit
;;
2)
    xscreensaver-command -lock
    systemctl suspend
;;
3)
    systemctl reboot
;;
4)
    systemctl poweroff
;;
esac
exit 0
