[global_config]
[keybindings]
[layouts]
  [[default]]
    [[[child0]]]
      fullscreen = False
      maximised = False
      order = 0
      parent = ""
      size = 818, 498
      type = Window
    [[[terminal1]]]
      order = 0
      parent = child0
      profile = default
      type = Terminal
[plugins]
[profiles]
  [[default]]
    background_image = None
    font = DejaVu Sans Mono 13
    foreground_color = "#00ff00"
    scroll_on_output = False
    scrollback_infinite = True
    use_system_font = False
