#!/bin/sh

# /etc/X11/xinit/xinitrc
#
# global xinitrc file, used by all X sessions started by xinit (startx)

# invoke global X session script
. /etc/X11/Xsession

if [ -d /etc/X11/xinit/xinitrc.d ] ; then
    for f in /etc/X11/xinit/xinitrc.d/?*.sh ; do
        [ -x "$f" ] && . "$f"
    done
    unset f
fi

# Screensaver and locking duties
xscreensaver &

# PolicyKit daemon for power management and other privileged actions
# https://wiki.archlinux.org/index.php/Polkit
/usr/lib/policykit-1/polkitd --no-debug &

exec openbox-session