#!/bin/sh

# /etc/X11/xinit/xinitrc
#
# global xinitrc file, used by all X sessions started by xinit (startx)

# invoke global X session script
. /etc/X11/Xsession

if [ -d /etc/X11/xinit/xinitrc.d ] ; then
    for f in /etc/X11/xinit/xinitrc.d/?*.sh ; do
        [ -x "$f" ] && . "$f"
    done
    unset f
fi

[[ -f ~/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources

{% if openbox.touchpad.enabled %}
# Disable tap to click on touchpad
{% if not openbox.touchpad.tap_to_click %}
synclient TapButton1=0
synclient TapButton2=0
synclient TapButton3=0
{% endif %}
{% endif %}

# PolicyKit daemon for power management and other privileged actions
# https://wiki.archlinux.org/index.php/Polkit
/usr/lib/policykit-1/polkitd --no-debug &

# wrap session in dbus so we can automount USB disks etc.
# NB: note this is will cause issues if using display manager that does this for you
# and invokes .xinitrc
exec dbus-launch openbox-session
