[Desktop Entry]
Name=Terminal Emulator
Comment=Use the command line
TryExec=x-terminal-emulator
Exec=x-terminal-emulator
Icon={{ openbox[os_target].icons.terminal }}
Type=Application
Categories=Utility;TerminalEmulator;
StartupNotify=true
Keywords=Run;
Actions=New
