[Desktop Entry]
Version=1.0
Name=Web Browser
GenericName=Web Browser
Comment=Access the Internet
Categories=Network;WebBrowser;
Exec=x-www-browser %U
Icon={{ openbox[os_target].icons.web_browser }}
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https
X-MultipleArgs=false
