[Desktop Entry]
Name=ROX Filer
Comment=Lightweight file manager
TryExec=rox-filer %F
Exec=rox-filer %F
Icon=system-file-manager
Type=Application
Categories=Utility;
Keywords=Run;
Actions=New
